/** General styles **/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100svh;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style-type: none;
}

/** General styles **/

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --gray-700: hsl(0, 0%, 20%);
  --gray-800: hsl(0, 0%, 12%);
  --gray-900: hsl(0, 0%, 8%);
}

body {
  display: grid;
  place-content: center;
  padding: 1.5rem;
  font-size: 14px;
  font-family: Inter, sans-serif;
  color: var(--white);
  background-color: var(--gray-900);
  /* background: linear-gradient(
    0deg,
    rgba(230, 241, 198, 1) 0%,
    rgba(236, 244, 235, 1) 100%
  ); */
  background-attachment: scroll;
  background-size: cover;
}

@media (min-width: 972px) {
  /* Enable background-attachment fixed on desktop browsers */
  body {
    background-attachment: fixed;
  }
}

.grid {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  background-color: var(--gray-800);
}

/** Header **/

.header {
  display: grid;
  justify-items: center;
  gap: 1.5rem;
  padding: 0 0.5rem;
  text-align: center;
}

.header__img {
  width: 5.5rem;
  border-radius: 50%;
}

.header__title {
  margin-bottom: 0.35rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.header__location {
  font-weight: 600;
  color: var(--green);
}

.header__desc {
  font-weight: 300;
  opacity: 0.9;
}

/** Footer **/

.attribution {
  padding: 0 0.5rem;
  margin-top: 1rem;
  text-align: center;
  opacity: 0.9;
}

.attribution__links {
  color: var(--green);
  font-weight: 600;
  text-decoration: none;
  transition: all ease 0.3s;
}

.attribution__links:hover {
  color: hsl(34, 78%, 85%);
}
