/** General styles **/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100svh;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style-type: none;
}

/** General styles **/

:root {
  --blue: hsl(213, 100%, 58%);
  --dark-blue: hsl(213, 80%, 15%);
  --white: hsl(0, 0%, 100%);
  --gray-700: hsl(0, 0%, 20%);
  --gray-800: hsl(0, 0%, 12%);
  --gray-900: hsl(0, 0%, 8%);
}

body {
  display: grid;
  place-content: center;
  padding: 1.5rem;
  font-size: 14px;
  font-family: Inter, sans-serif;
  color: var(--white);
  background-color: var(--gray-900);
  background: linear-gradient(0deg, var(--gray-900) 0%, var(--dark-blue) 100%);
  background-attachment: scroll;
  background-size: cover;
}

@media (min-width: 972px) {
  /* Enable background-attachment fixed on desktop browsers */
  body {
    background-attachment: fixed;
  }
}

.main {
  max-width: 382px;
}

.grid {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.6rem;
  background-color: var(--gray-800);
  border: 1px solid var(--gray-700);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.03);
}

@media screen and (min-width: 450px) {
  .grid {
    padding: 2.4rem;
  }
}

/** Header **/

.header {
  display: grid;
  justify-items: center;
  gap: 1.5rem;
  padding: 0 0.5rem;
  text-align: center;
}

.header__img {
  width: 5.5rem;
  border-radius: 50%;
}

.header__title {
  margin-bottom: 0.35rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.header__location {
  font-weight: 600;
  color: var(--blue);
}

.header__desc {
  font-weight: 300;
  opacity: 0.9;
}

/** Navigation **/

.nav__list {
  display: grid;
  gap: 1rem;
}

.nav__list > * {
  padding: 0.75rem;
  font-weight: 600;
  text-align: center;
  border-radius: 0.6rem;
  background-color: var(--gray-700);
  transition: all ease 0.3s;
}

.nav__list > *:hover {
  background-color: var(--blue);
}

/** Footer **/

.attribution {
  padding: 0 0.5rem;
  margin-top: 1rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.65);
}

.attribution__links {
  color: var(--blue);
  font-weight: 600;
  text-decoration: none;
  transition: all ease 0.3s;
}

.attribution__links:hover {
  color: var(--white);
}
